<app-header></app-header>
<div class="flex justify-center">
  <div class="">
    <div class="mt-52">
      <span class="text-8xl text-blue-600 border-r-2 pr-10">404</span>
      <span class="text-5xl">
        <p class="inline-block p-5 font-medium">
          Page Not Found <br>
          <span class="text-xl text-gray-500">
            Please check the URL in the address bar and try again.
          </span>
        </p>
      </span>
    </div>
  </div>
</div>
<div class="flex justify-center">
  <a routerLink="/home" class="bg-blue-600 p-3 rounded-xl shadow hover:bg-blue-500 text-white font-medium">
    <span class="">Go back home</span>
  </a>
</div>
<app-footer class="fixed bottom-0 justify-end w-full"></app-footer>
