<div class="flex w-full justify-center">
  <div class="">
    <div class="py-2 sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="table-auto">
          <thead class="border border-gray-200">
            <tr>
              <th scope="col"
                class="py-3 px-6 text-xs font-medium tracking-wider text-left uppercase">
                Time
              </th>
              <th scope="col"
                class="py-3 px-6 text-xs font-medium tracking-wider text-left uppercase ">
                Company
              </th>
              <th scope="col"
                class="py-3 px-6 text-xs font-medium tracking-wider text-left uppercase">
                Role
              </th>
              <th scope="col"
                class="py-3 px-6 text-xs font-medium tracking-wider text-left uppercase">
                Responsibility
              </th>
            </tr>
          </thead>
          <tbody>
            @for (workExperience of workExperiences; track workExperience; let i = $index) {
              <tr class="border border-gray-200"
                >
                <td class="py-4 px-6 text-sm font-medium">
                  {{workExperience.workTimes}}
                </td>
                <td class="py-4 px-6 text-sm">
                  {{workExperience.companyName}}
                </td>
                <td class="py-4 px-6 text-sm">
                  {{workExperience.role}}
                </td>
                <td class="py-4 px-6 text-sm" [innerHtml]="workExperience.myResponsibility">
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
