<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <div class="py-5">
    <div class="page-content container-fluid">
      <div class="row">
        <div class="col-md-2 col-sm-12 mb-2 pr-1 pl-1">
          <div class="card border-success">
            <img src="assets/images/20191201-DSCF5084.jpg" class="img-fluid card-img-top" alt="Xuan Nguyen Thanh">
            <div class="card-body">
              <div class="list-inline contact-info">
                <a href="mailto:thanhxuanhd007@gmail.com" class="btn-link text-success mr-2"><span
                    class="oi oi-envelope-open" title="Email" aria-hidden="true"></span>
                </a>
                <a href="https://www.linkedin.com/in/thanhxuanhd" class="btn-link text-success mr-2"><span
                    class="oi oi-document" title="Linkedin" aria-hidden="true"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-10 col-sm-12 pr-1 pl-1">
          <div class="card border-success">
            <div class="card-body">
              {{ content }}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  {%- include footer.html -%}

</body>

</html>