<div class="w-full grid grid-flow-row grid-rows-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 border-b mb-2">
  <div class="md:p-3 sm:p-3 lg:p-3 xl:p-3 sm:order-2 md:order-1 lg:order-1 order-2">
    <div class="m-2 sm:text-3xl md:text-5xl lg:text-5xl text-2xl">Hi, I am Xuan Nguyen Thanh</div>
    <div class="m-2 sm:text-2xl md:text-4xl lg:text-4xl text-xl">Senior Software Engineer <span class="md:text-2xl sm:text-xl">-
        {{year}} year olds</span></div>
    <div class="m-2 sm:text-2xl md:text-2xl lg:text-2xl text-xl">Based in Ha Noi, Viet Nam</div>
  </div>
  <div class="img-avatar text-right md:p-3 sm:p-3 lg:p-3 xl:p-3 sm:order-1 md:order-2 lg:order-2 order-1">
    <div class="flex justify-center m-auto">
      <img src="./assets/images/avatar-image.png" alt="avatar-image" class="w-1/2 sm:w-2/3 md:w-2/5 lg:w-2/5">
    </div>
  </div>
</div>
<app-work-time></app-work-time>
